/* Reset Styles */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

[hidden] {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

button {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
